/* @import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

.bg {
  height:100%;
  width:100%;
  margin: auto;
  background: url('assets/bg.jpg') no repeat 50% 50%;
} */
body{
    /* background-image:url('assets/bg_world.jpg'); */
    background-image: url('book-magic-light.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
